<configuration>

    <!-- Debug File Appender -->
    <appender name="DEBUG_FILE" class="ch.qos.logback.core.FileAppender">
        <file>logs/debug.log</file>
        <append>false</append>
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- Console Appender (fixed with encoder) -->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- Console Log File Appender (renamed to avoid name clash) -->
    <appender name="CONSOLE_FILE" class="ch.qos.logback.core.FileAppender">
        <file>logs/console.log</file>
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- Info File Appender -->
    <appender name="INFO_FILE" class="ch.qos.logback.core.FileAppender">
        <file>logs/info.log</file>
        <append>false</append>
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>INFO</level>
        </filter>
    </appender>

    <!-- Root Logger -->
    <root level="ALL">
        <appender-ref ref="INFO_FILE"/>
        <appender-ref ref="DEBUG_FILE"/>
<!--        <appender-ref ref="CONSOLE"/>-->
        <appender-ref ref="CONSOLE_FILE"/>
    </root>

</configuration>
